/* Project Description Local CSS */

/*headers
*****************/
h2{
}

p{
  font-size: 20px;
}

li{
  font-size: 20px;
}

/* containers
****************/
.divcenter{
  text-align: center;
}

.text{
  text-align: justify;
  padding-top: 1rem;
  width: 50%;
  margin:auto;
}

.keyqn{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
}

.imgContainer{
  float:left;
  margin-left:100px;
}

/* buttons 
**************/
.nextbtn_left{
  width:300px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}

.nextbtn_right{ 
  position: absolute;
  width:300px;
  right:10px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
}