/* Title Page Local CSS */

/*headers
*****************/
h2{
  font-size: 15px;
  margin-bottom: 0px;
  color: #7c795d; 
  font-family: 'Trocchi', serif; 
}

h1{

}

/* containers
****************/
.divcenter{
  text-align: center;
}

.Container{
  padding:2rem;
  content: "";
  clear: both;
  display: table;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer{
  text-align: center;
  float: left;
  padding: 5px;
  width: 250px;
  height: 300px;
  margin-left: 4rem;
  margin-right: auto;
}

/* buttons 
**************/
.nextbtn_left{
  width:300px;
  left:1rem;
  margin-bottom: 1px;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  text-align: left;
}

.nextbtn_right{ 
  position: absolute;
  width:400px;
  right:1rem;
  background-color: transparent;
  color: #000;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  text-align: right;
}

/* img
****************/
img{
  padding-left:5rem;
  padding-right:5rem;
}